<div class="subheading">
  <h4>地域の皆で子どもを守ろう！<h4>
</div>
<div class="top_title">
  <h1>危険情報共有アプリ</h1>
</div>

<div class="function">
  <h3>危険情報共有機能</h3>
  <p>ユーザーが、不審者情報・危険動物の発見など、何か子どもにとって危険となりうる
  情報を発見した場合、その情報を、発生場所の地図付きで受け取ることができます！
  それにより、いち早く情報を察知できるので、事件事故を未然に防ぐことに繋がります！</p>
</div>
<div class="function">
  <h3>情報共有機能</h3>
  <p>「自宅で、たまたま絵本の上に熱いコーヒーを置いていたら、その絵本を子どもが取ろうとして
  コーヒーが倒れ火傷してしまった」、「A公園の滑り台から落ちてしまった」
  など、「こんな危ないことがあったので、皆さんにも気を付けてほしい」ということを自由に投稿し共有
  することができます。</p>
</div>
<div class="function">
  <h3>投稿コメント機能</h3>
  <p>それぞれの投稿に対して、コメントを送ることができます！その情報が役立った場合は、お礼など
をどんどんコメントして下さい！</p>
</div>
<div class="function">
  <h3>情報マップ機能</h3>
  <p>「不審者が出やすい場所」「動物・虫が出やすい場所」「交通事故が起こりやすい場所」
「子ども110番の家」を探すことができます。地図上で見れるので、場所が即時にわかります。
ぜひお子さんと共有し、常日頃気をつけるように促して下さい。〜準備中〜</p>
</div>