/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 100px;
}

.header {
  background-color: #def0f5;
  height: 50px;
  font-size: 0.8rem;
}
.header_link{
  display: flex;
  justify-content: flex-end;
}
.header_link div{
  margin-left: 0.3em;
}
/* #wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #def0f5;
  height: 100px;
  /* margin-top: auto; */
}

.footer p{
  text-align: center;
  line-height: 100px;
  margin-top: 0;
  margin-bottom: 0;
}


