// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comments_box p{
  background: #c2edff;/*背景色*/
  padding: 0.5em;/*文字まわり（上下左右）の余白*/
  width: 30%;
}

.comments_box{
  padding-bottom: 50px;
}
.comment_content{
  background-color: white;
  font-size: 1rem;
}
.comment_content_username{
  background-color: white;
  font-size: 0.6rem;
}

