// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#user_name, #user_email, #user_password, #user_password_confirmation{
  width: 20%;
  height: 25px;
}
#user_nickname{
  width: 40%;
  height: 25px;
}
label{
  background: #c2edff;
  padding: 0.5em;
  margin-bottom: 10px;
}
.user_input{
  padding-bottom: 1.5rem;
}
.user_form_box{
  margin-left: 4rem;
  padding-bottom: 2rem;
}

.signup_edit_title{
  margin-left: 4rem;
}